# Core functionality - changes here should be rare!
/src/app.py                   @2orro0930
/src/backend/database.py      @2orro0930
/src/backend/routers/auth.py  @2orro0930

# The frontend will need refactored soon to be more object oriented.
/src/static/   @2orro0930
